*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border: 1px solid white;
    color: black;
    background-color: white;
    width: 700px;
}
tr{
    border-bottom:1px solid gray;
    height: 50px; 
}
#btn{
    display: flex;
    width: 130px;
    height: 50px;
}
.btn1,.btn2{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
}
.btn2{
    position: relative;
    left: 30px;
}